<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">post it! (everyone can be an author)
        <nav class="nav">
            <img class="logo" src="\images\book.png" alt="icon book">
            <a href="/">home</a> |
            <a href="/authors">authors</a> |
            <a href="/new_author">new_author</a> |
            <a href="/new_post">new_post</a> |
            <a href="/author?id=2">info</a> |
            <a href="/posts">all posts</a>
        </nav>
    </header>

    <div class="container1">the five latest posts:
        <ul>
            <% for(let i = 0; i < fivePosts.length; i++) { %>
                <li class="listPosts" >(author id:&nbsp;<%= fivePosts[i].author_id %>)&nbsp;&nbsp;<%= fivePosts[i].title %>:&nbsp;&nbsp;<%= fivePosts[i].post %>&nbsp;&nbsp;<a href="/author?id=<%= fivePosts[i].author_id %>">(about author)</a></li>
            <% } %>
        </ul> 
    </div>  

    <a href=""></a>

    <footer class="footer">
        <p>© 2021</p>
    </footer>

</body>
</html>