<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header class="header">post it!
        <nav class="nav">
            <img class="logo" src="\images\book.png" alt="icon book">
            <a href="/">home</a> |
            <a href="/authors">all authors</a> |
            <a href="/posts">all posts</a> |
            <a href="/new_author">new_author</a> |
            <a href="/new_post">new_post</a> |
            <a href="/author?id=2">info author</a> |
            <a href="/?post=1">post by author</a>
        </nav>
    </header>

    <div class="container1">
        <!-- <form action="/new_author" method="POST" enctype="application/x-www-form-urlencoded"> -->
        <form method="POST" action="/new_post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="submitted" value="1">
            <select name="author" id="author">
                <option value="<%= %>">choose your author_id</option>
            </select>
            <br>
            <br>
            <input type="text" name="title" placeholder="Title">
            <br>
            <br>
            <textarea name="postNew" placeholder="Your New Post"></textarea>
            <br>
            <br>
            <button type="submit">Submit New Post</button>
        </form>
    </div>

    <footer class="footer">
        <p>© 2021</p>
    </footer>

</body>

</html>