body {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
}

header {
    color: aliceblue;
    background-color: black;
    margin: -100px;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 50px;
}

.logo {
    width: 20px;
    height: 20px;
    margin-bottom: -8px;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: #00ff1c;
}

.container1 {
    color: aliceblue;
    margin: 100px;
    padding: 100px;
    background-color: rgb(71, 0, 130);
}

footer {
    color: aliceblue;
    background-color: black;
    padding: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.listPosts {
    list-style-type: none;
}